* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*navbar*/
.navbar {
    display: flex;
    /*to align items in a row*/
    justify-content: space-between;
    /*to give space between the items*/
    align-items: center;
    /*to align items vertically center*/
    background-color: black;
    color: white;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* to give shadow to the navbar*/
}

.navbar-links {
    display: flex;
    /*to align items in a row*/
    padding: 20px;
    gap: 30px;
    color: white;
}

.navbar-link a {
    color: white;
    text-decoration: none;
}

.navbar-link a:hover {
    text-decoration: underline;
}
.navbar-menu-toggle{
    display: none;
}
.side-navbar{
    background-color: black;
    width: 40%;
    height: 100%;
    position: fixed;
    padding: 10px;
    top: 0;
    left: -50%;
    transition: 1s;
}
.side-navbar-links{
    margin: 30px;
    margin-bottom: 30px;

}
.side-navbar-link{
    margin-bottom: 30px;
}
.side-navbar-link a{
    color:white;
    text-decoration: none;

}
.side-navbar-link a:hover{
    text-decoration: underline;
}
/*header section*/
.header{
 padding:10px;
 display: flex;
 background-color: black;
 color: white;
 margin-top: 50px;
 justify-content: center;
 align-items: center;
 gap: 50px;
}

.header-button{
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
   border-style: hidden;
   background-color: blue;
   color: white;
   
}
.header-content{
    margin-top: 5px;
}
.header-button:hover{
    background-color: darkblue;
    cursor: pointer;
    width: 110px;
    height: 40px;
}
.header-image img{
    width: 200px;
    height: 250px;
    
}
/*service section*/
.service-container-1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 5px;
}
.service-container-2 div{
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
  
}
/*New arrivals section*/
.new-arrivals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*to wrap the items to next line if they exceed the width*/
    padding: 20px;
    padding-right: 0px;
}
.new-arrivals-container{
    position: relative;
    flex-basis: 20%;  /*to set the width of each item to 20% of the container*/
}

.new-arrivals img{
    height: 350px;
    width: 280px;
}
.new-arrivals button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: blue;
    color: white;
    position: absolute;
    left: 90px;
    bottom: 30px;
}
.new-arrivals button:hover{
    background-color: darkblue;
    cursor: pointer;
    width: 110px;
    height: 40px;
}
.news-letter{
    justify-items: center;
}
.news-letter input{
    margin: 10px;
    width: 500px;
    height: 20px;
}
.news-letter button{
    margin-top: 2px;
    color: #F2F4F7;
    background-color: black;
    padding: 10px;
    border-radius: 5px;

}

/*footer section*/
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: black;
    color: white
}
.product-section{
    margin-top: 30px;
    margin-bottom: 30px;
}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
}
.products-box img{
    width: 150px;
    height: 200px;
}
.products{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.product-search input{
    border: none;    
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
    outline: none;
}


/*media query for mobile devices*/
/*when the screen size is less than 600px links diappears and icon appears*/
@media screen and (max-width:600px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image img{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }    
}
